<template>
   <div class="card-header"> {{ title }}</div>
</template>

<script>
    export default {
        data: function() {
            return { title: 'Mon Bordereau ' }
        },
         mounted: function() {
            console.log('MOUNTED from Bordereau!')
        }
    }
</script>
