<template>
   <div class="row justify-content-center">
            <div class="col-md-8">
                <h1> {{ title }}</h1>
                <span>{{ message }}</span>
            </div>
        </div>
</template>

<script>
    export default {
        name: 'Hello Word',
        data: function() {
            return {
                title : 'Suivi ⚙️',
                message: 'test'
            }
        }
    }
</script>



